*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url("pexels-therato-1933320.jpg") center center / cover no-repeat fixed;
    background-color: #eee8e8;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup{
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 350px;
    padding: 25px;
    border-radius: 15px;
    color: white;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);

}
.header{
    text-align: center;
    margin-bottom: 20px;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.form input{
    font-size: 16px;
    padding: 8px;
    
}
.action button{
    text-align: center;
    padding: 8px;
    margin: 10px 100px;
    margin-bottom: 20px;
    font-size: large;
}
.action a{
    text-decoration: none;
    color: rgb(239, 218, 237);
    padding: 5px;
    border-radius: 8px;
}
.signup-btn:hover {
  background: rgba(255, 255, 255, 0.5);
  transform: scale(1.05);
}
.action a:hover{
    background: rgba(255, 255, 255, 0.5);
    transform: scale(1.05);
}